doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 山河院
    link(rel='stylesheet', href='style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap', rel='stylesheet')

  body
    header#header_top
      #jumbotron.img_bg
    main
      section#jumbo_text
        h3 一棟合身的柔性住宅
        h6 紅屋致力於住宅改善，跨家具、內裝、建築三領域， 求整合之效，集設計、製造、施工、銷售於一體。 因應國內住宅的嚴重缺失，獨創『系統木內裝』，以『質感、 合理、秩序』帶給家人生活新內涵。
        p 挑戰台灣的濕熱氣候2005年我們推出「紅屋一號」 2007年再挑戰更高程度的建築設計 歷經三年，終於在2010年4月開工，2011年2月木作完成。我們為她取個好名字，「山河院」諧音上它近『三合院』，有遙想古傳統智慧期盼國人的住宅有自己的風格，而不再只是抄襲歐美的型式。「山河院」整合了我們許多理想，並具體完整地呈現。我們認為家庭生活，既要有安靜的慰藉，也要有熱鬧的喜悅...我們樂於尋找、挑戰更豐富的生活感動，更樂於與有心人切磋、分享。
        
      //- projects-------------------------------
      //- nature.................
      section
        .section_divider 
          h2 近自然
          h4 Back to Nature
        .section_img
          img(src="assets/nature01.jpg", alt="")
          img(src="assets/nature02.jpg", alt="")
        .section_text
          h4 離台北鬧區僅30分車程，這樣風景大夢也難求，建築當然要熱烈迎接， 超大開窗，不二之選。但過多雨水、夏日颱風、冬日風寒、以及外人窺探，便須同步處理。
          p 環境與建築相生又相剋，之間的拿揑極度困難，而拿揑的好壞又決定住宅的大成或大敗。拿揑好的建築體，內裝不費吹灰力，也可渾然天成;反之，則內裝再多花錢費心，成效也是三折四扣，挫折到不行。建築與環境的對應，至難，但至重要。環境裡，喜歡的與不喜歡的一定併存。視野超好的山往往險惡，綠意醉人的森林也必蚊蟲滋生、濕氣逼人。或者，大片玻璃雖有大光大景的豪放，卻也常有日晒、偷窺等的困擾，事例極多，如何取其利而迴其弊，無不須要慎思熟慮。
          p 基地在淺山腰，兩脅小山脈護圍，對面大山景，山下馬路喧鬧、街屋嶙峋。正面東南，朝陽入室，尤其冬日，但午後西斜，屋前成蔭，配以東來清涼谷風，很是舒服。一旁大樹，蓊鬱蒼翠，更有群鳥呼嘯、飛鼠叫囂，不勝熱鬧。離台北鬧區僅30分車程，這樣風景大夢也難求，建築當然要熱烈迎接，超大開窗，不二之選。但過多雨水、夏日颱風、冬日風寒、以及外人窺探，便須同步處理。而屋後鄰居緊逼，設計便完全轉向，幾近完全封閉，僅留的少許通風開口也都作了隱蔽處理，而室內通風對流也因此改向，另借重梯間的煙囪效應。
        .section_img_flex
          img.img_flex_1(src="assets/nature03.jpg", alt="")
          img.img_flex_1(src="assets/nature04.jpg", alt="")

        .section_text
          h4.subtitle 回家的感覺｜大門
          p 進門，我們為它設了三道門，似乎繁複，動作其實簡易; 雖然簡易，心境轉折卻能豐富而喜悅。首先，在巷弄裡看房 子，圍牆、外玄關與房子的造型，一圈一圈往內退，一圈一圈往上升，緊緊相扣，頗有宮廷院落一進一進的漸入感覺。而拱形的外牆大門，既是造型設計，開門時更可遮風避雨。而門鈴我們不再喜歡千篇一律的電鈴，希望多點人味，特別找了有厚重質感的銅鈴，叫門搖撞鐘錘，豈不有趣?進了鐵門，沿階而上，看的是自家的前院。但轉入玄關前，玄關屋簷與隔鄰一體延伸，也可共賞鄰戶的前院。雙拼的鄰居，若即若離，我們提醒那脫不開的相互關係。而外玄關的入門採用玻璃，除防盜、防蚊、防風寒外，內外延續為一，正是過境的心情。過了門，內外在此交替，小幅架高的內玄關已是乾淨的木地板，也可權充換鞋的座椅。而全壁櫃既是設計的完整收尾，正可方便收納大量的室內外鞋、雨具或出入門的其他雜物。上到乾淨的內玄關，推開大大的木門， 後院迎來震撼，的綠牆，客廳平展的沙發邀您坐下，靜賞美麗，誰不想回家?
        .section_img_flex
          img.img_flex_1(src="assets/door01.jpg", alt="")
          img.img_flex_1(src="assets/door02.jpg", alt="")
        .section_text
          h4.subtitle 被忽略的寶地|玄關
          p 玄關好像是個童養媳，人人知道它的名字，卻從來不被看 重，總是能省則省，草率交代。事實上，出門回家，玄關既須備有實質的功能，如穿、脫鞋;或心情的轉換，如在外的緊張與在家的鬆放。好的玄關 讓回家成了既舒服又美麗的事，簡直就像是旅館大廳裡接待的好服務生。「山河院」的玄關不到1.5坪，但內容豐富無比。地面分 兩層，下階接前院，是室外的洗石處理;上階接客廳，是親 和潔淨的木地板。天板則是木格直串，裡到外，裡側接客 廳，外側通屋外，上有霧光玻璃。室外轉室內的感覺，表現 得既具體又委婉。脫換鞋可藉上階地板當椅子，一旁的櫃門 既是漂亮的裝飾，也可收納眾多的鞋子、雨具或其他。往客廳的門牆半透空，內景半露，通風隨時。而冬夏風量的調節，則由外玄關的三大百葉窗控管。至於可怕的蚊子，則交給入口的玻璃門掌握。推開上階大木門，天與地平順展開，正前的後院，天光之 下，一片綠牆，美得出奇。
        .section_img_flex
          img.img_flex_1(src="assets/toma01.jpg", alt="")
          img.img_flex_1(src="assets/toma02.jpg", alt="")

      //-fit.................
      section
        .section_divider 
          h2 合身宅
          h4 Fitting House
        .section_img
          img(src="assets/fit01.jpg", alt="")
          img(src="assets/fit02.jpg", alt="")
        .section_text
          h4 住宅若是合身，不但舒服，好維護，而且財務負擔少。
          p 在建商的炒作下，國內住宅竟然形塑了一些很特異的價值 觀，比如超高樓板、大坪數、多房間、高貴花崗石、華麗雕 飾、奢華衛浴、千萬廚具...，原本全是皇家宮廷的玩物，如今 炫耀走入百姓家。舊日皇家宮廷總是宮女奴僕成群侍候，但今 日無僕人的民主時代，同般規格的豪宅，不但奴僕不來，而且 家人單薄;不但家人單薄，而且各奔東西鮮少合聚。諾大的豪 宅反而更顯空寂，儼然現代版的『深宮怨婦』?走過神權、君權，進入民主時代，人本思想帶來人的尺度的 重視，眾知的「人體工學」因應而起，住宅設計其實也毫無例 外。但台灣?過度的金錢競逐，情緒高亢，許多人也便一心一 志渴求皇帝般的豪情，住宅也便成了他的夢幻王國。而王國舒 不舒服?則冷暖自知。
          p 住宅若是合身，不但舒服，好維護，而且財務負擔少。如同衣服一般，合身並不表示寒酸。衣服有緊如泳衣、寬 如大衣的合身;更有素如內衣、炫如禮服的合身。褒貶之間， 端看場合與個人風姿契不契合，但毫無疑問，必也合乎人的尺度。住宅有對內與對外的功能取向，前者如臥房，後者如外觀，而客廳則居半。前者可以純依自己的身心需求，後者則需要禮節回應外人的眼光。我們深深以為這樣才能住得健康、住得平安。此外，國人的住宅建築都有極迫人的壓力。水泥體大多既 粗又糙，粉飾材不是冷酷如磁磚，便是單薄如油漆。而不可免 的二度裝潢更慘，擺盪在極昂貴的石材、衛浴，與極低賤的腳 料、夾板、貼皮、塗漆之間，前者貴氣逼人，好壞因人;但後 者則華麗粉飾之下，質感既不耐，更是毒氣橫生。而所謂『設計』，大都是炫耀形色之美，這屬於商業空間的競技，搬入住宅，雖有短效興奮，但久了只剩一個『悶』，完全背離住宅所需。也難怪國人有錢沒錢，隨時都想換房子。除了附和「保值」 的流行思維，恐怕也是因為「悶」，想換情境。
          p 「山河院」是各30坪基地的双拼透天，室內3層共約50坪，以 國內透天住宅論，屬侷促。但住的感覺，卻是萬般舒服。該小 則小，如臥房;該大則大，如三喜茶房。小則貼身溫馨，大則 相互借景、進退良順。甚至引入屋外大樹與山景，正是「身在 小窩，心在宇宙」，快哉!而水泥雖仍是不能不選的結構建材，但外觀仍以細膩抿石柔 化，內部更全是柔性建材，既無毒，更讓視、觸、嗅、聽等感 官舒適無比，而素材鋪陳有序，光影變幻有趣，涼風徐徐，有如彩虹天堂。柔性住宅，正是回家養息之所需。
        .section_text
          h4.subtitle 時代新內涵 | 客廳
          p 現代家庭其實很少有外客，而客廳大多只是電視聽，腦袋與 生活被電視台控管便也很自然了。想要擁有自己的生活內涵， 總要誠實去作一點思考。客廳應以自家人為主，歐美人稱之為living room，顯然更正 確。而家人互動，看電視不宜是主題，更不應該是唯一。賞心 悅目，坐坐休息，聊聊天地，打情嬉戲，都會是更好的主題。「山河院」的客廳，銜接玄關，還有明亮而乾淨的後院可以 外探賞玩，別緻的綠牆，上接露天雨水，通風和諧。這後院境 界是戶外，卻有室內的任何舒適性，包含沒有蚊蟲的干擾。與 之相連處，是個架高的大平台，與沙發連成一氣，是發呆、聊 天、閒躺、午憩的好地方。自家人徘徊，或客人驚嘆，哪有比 這更重要的客廳設計?有無電視，早已成了次要的主題。
        .section_img_flex
          img.img_flex_1(src="assets/living01.jpg", alt="")
          img.img_flex_1(src="assets/living02.jpg", alt="")
        .section_text 
          h4.subtitle 合一的新可能|餐廚房
          p 國人的餐桌太務實，飯後立刻拍屁股走路便是常態。多年 來我們一再鼓吹大餐桌 (名之日「喜來桌」)的觀念，大桌 子，大容量、大功能、好氛圍，餐廳便不再只是吃飯，還可以是茶敘的好地方，有事沒事，多多茶敘，家人自然熱絡溫 暖，偶有疑難雜症也好談。而十年了，終有成，如今我們更想積極再挑戰餐廳的另一半，「現代廚房」。不知何時起，國人早把磚造燒柴的爐灶完全拋棄，代之以 燒瓦斯的歐美廚具，這廚具不論價格高或低，裡裡外外完全 沿用歐美的設計，卻一直輕忽兩項很重大的本土問題，一是 烹調習慣，二是水的問題。
          p 歐美人輕烹調，重餐具，廚具都以相應的收納及外觀為主 軸設計;但國人重熱炒，多油煙，重味蕾，而少在乎餐具，廚具設計往往找不到貼切的重點，而油煙外溢更不只汙染室內，也常常造成主婦健康的嚴重問題 (不抽菸也罹肺癌)。 而台灣濕氣重，廚房習性又好水，處處濕搭搭便是常態。而 歐美廚具都用木屑板及精細的五金配件組成，離開乾爽的歐美，來到濕漉的台灣，板子變形漲裂、五金鏽蝕失功能，於是起頭漂漂亮亮，不久便開始離離落落，越看越不順眼，越用越不順手了。而「開放廚房」open kitchen在歐美日本正方興未艾。以 現代社會多是4人以下的核心家庭言，開放廚房確實有 其動人的好處，但若使熱炒油煙依舊濃烈，備菜依舊繁雜、 道具依舊凌亂...，那開放廚房恐會成為新的夢饜。生活是多元的，我們打造了兩套廚具，一是傳統隔離式， 二是現代開放式，各領風騷，各具得失。
          p 隔離式，給重烹調的家庭，除了作業檯面，我們大大加重收納的容量與方便性，而隔離則採透光半隔，實質隔了，但感覺沒隔，減緩小空間的閉塞性。想想主婦孤獨關在廚房揮 汗煮而開放式則給較輕烹調的小家庭，它更強調主婦與家人的 互動，有更迷人的空間美感。而廚具本體，我們放棄忌水又有毒的木屑板，改用本性耐水的天然紅檜，佐以防水的天然塗漆。而容易鏽蝕的歐美五金我們也大量避免，最後在櫃體裡加設抽風扇，避免水氣在櫃內駐留，純以物性的原理來排除水氣的困擾。至於檯面，我們只推薦不鏽鋼，高溫高濕的台灣，其他任 何材質仍都容易藏污長菌。而許多工作既須在檯面上進行，我們也就順勢在它之上附加了許多重要而務實的功能，而因此不鏽鋼檯面與天然紅檜的設計搭配就不只是設計的美麗，更切體的是功能的合理。
        .section_img_flex
          img.img_flex_1(src="assets/dining01.jpg", alt="")
          img.img_flex_1(src="assets/dining02.jpg", alt="")

         

      //- zen.................
      section
        .section_divider 
          h2 禪天地
          h4 The Beauty of Zen
        .section_img
          img(src="assets/zen01.jpg", alt="")
          img(src="assets/zen02.jpg", alt="")
        .section_text
          h4 天地和鳴，框景格外分明。這時候的美，便是禪境。
          p 水泥建築的凸樑，往往讓住宅內的天，既被糾纏，也被壓 頂。縱使裝潢美化，頂多也只提升為漂亮的天井。而住宅內 天井處處，怎麼說總不寬舒。如何讓屋內的天與屋外的天相接，連成一氣，讓人的眼光 能夠隨之逍遙?於是天板必須與醜陋的凸樑整合，又必須與 開窗的天光相契，須要化除的難題極多，如凸樑高低不一、 位置錯置、隔間橫擋、燈飾干擾...。只要成功串連，天井瞬 間變成天際線，天光飄入，眼界外出，井底蛙成了展翅鵬 鳥。縱使妥協了一些天板高度，也是損失毫釐，得之天機。 這樣的挑戰，我們早有許多成功案例。
          p 至於地，既講平暢，更講質感。平暢也不只是地面的平， 更要把擺上的大型家具，如床或沙發，呼應成一體，讓整體 平得順、平得實惠、平得精采。而質感除了視覺，更須關心肌觸。冷酷的磁磚、大理石，不但排除，連偏硬的木材，我們都不鼓勵。軟木地板有柔軟、溫潤、排汗...諸多好處。對裸足的國人，提供無限的身心護持。而天地一旦平順，之間的人，一定清明。甚至之間的景與 物，也一如相機框景，格外分明。這時候的美，便是禪境。
          p 山河院的天板，早從水泥結構體設計便開始整合，效 果絕佳。1F，往內，客連餐、餐連廚，一體平平展開，架勢 十足;往外，後與後院串連，前則連上玄關，竄出屋外，接 上天光。2F以上，隔開後的空間偏窄，但巧妙的天板延續、 透光處理，寬遠的感覺一樣瀰漫。而地板則因應場合，選用多種木材，有因色澤，有因軟 硬，更有因抗污、抗水性，無不求親人的質感。當然的，所有地板一律以我們的天然漆細膩處理。
        .section_text 
          h4.subtitle 淨、靜、境 | 臥房
          p 時下的臥房喜歡追求無限的浪漫，彷彿該睡覺的時候還捨不 得睡覺，現代人睡眠品質長期不佳，這恐怕難逃原因之一。而 我們寧可把『淨、靜、境』當成是臥房的第一指標。舉凡建材 的素淨、光線的柔化、收納的輕盈，甚至主臥的衛浴區都是簡 約寬舒而明淨。進出臥房，我們全以輕盈的拉門處理，雖輕盈但密緻的木 格窗櫺，素潔中帶有濃郁的美感與氛圍，尤其樓梯上來碰見之 際，門內的光影，引人探趣。
          p 主臥用材仍是素雅，但空間則看似單純，實則轉換多趣。小 小的7坪以半透木格及活動紙門巧妙地區分三區，一衛浴，二主 床，三副床，功能轉移同時，情趣也能變換。尤其副床鄰窗， 有多功能的設計意涵，白天可以午睡、閱讀、發呆或看山景， 晚上則年輕夫妻可以當小孩床，老夫妻則可以同房不同床。而紙門的開闔之間，風、熱、光及隱私，瞬間轉換。而房間的潔 淨，正需要良好的收納，隔間牆化成整排的壁櫃，收納衣服、 棉被及雜物，綽綽有餘。這全木作的隔間櫃，為求隱私，除了 加裝隔音毯，還作了多重消音設計。小孩房則作了兩種設計，一和一洋，各有千秋。兩者除了床 位，都確保收納的足量與方便。所有臥房臨窗都設有大檯面，提供內外穩定關係的感覺。我 們並不強烈建議在這裡做功課或閱讀，卻絕對推薦在這裡看山 景或發呆沉思。
        .section_img_flex
          img.img_flex_1(src="assets/bed01.jpg", alt="")
        .section_img_flex
          img.img_flex_1(src="assets/bed02.jpg", alt="")
          img.img_flex_1(src="assets/bed03.jpg", alt="")
        .section_img_flex
          img.img_flex_1(src="assets/bed04.jpg", alt="")
        .section_img_flex
          img.img_flex_1(src="assets/bed05.jpg", alt="")
          img.img_flex_1(src="assets/bed06.jpg", alt="")
        .section_text 
          h4.subtitle 家人新焦點 | 三喜茶房
          h5 獨處，是每個家人都需要的情境; 
          h5 同樂，是家人須要長期培養的感情; 
          h5 共宿，是現代親人須要重建的親密性。
          p 集三喜於一室的三喜堂，我們已鼓吹多年，也在國內完成了 數百個案例，許多客戶也給了我們極熱烈的回應。它確實已經 在改變許多家庭的互動關係。『山河院』把這理念更加強化，集合了更多精神生活的可 能。除了擁有極壯觀的窗景，讓空間早已魅力無限，還加上典 雅漂亮的視聽空間，以及寬大清秀的書棚，既把大量藏書秩序 化、美感化，更可於其中妝點喜愛的飾品，讓空間滿溢文學與 藝術的氣息。為了確保多元用途的高水平效果，我們在空間上作了極細膩 的設計。首先，與樓梯間我們以半透明的書架隔離，樓梯上來 一探，前窗灑下的整片光與景，便在半透的書架上逗引人心。 待紙門一開，7米全寬的大橫窗與緊緊相扣的橫檯面，一字畫開，上有平行線條的天板延續而出，下有地板與桌面的連續平 面，海天一般的壓縮焦聚，而其間，窗內則漸次燈影垂吊，窗外則大樹與山景遙迢，呆目驚呼，怦然醉倒。
          p 而視聽牆面則白色紙窗中留下小片打背光的紅色缺口，是為了視聽時的美麗聚焦。而白窗內則仍是強大的收納。書棚上設有兩大紙門，除了視覺之效，睡覺時，隔阻藏書掉 落的顧慮，則是務實性的風水考慮。而對面也有紙門，看似對 應性的裝飾，其實是調控梯間透空木格的通風考量。吹自然風 時，開;啟動冷氣時則關。轉換之間，不著痕跡。而三喜茶房儼然是家庭的第二客廳，旁鄰太陽屋，提供茶水、如廁、甚至人多時額外透氣的需求。至於上鄰瞭望頂樓，隨時登高吐納，也是直接而方便。
        .section_img_flex
          img.img_flex_1(src="assets/tea01.jpg", alt="")
        .section_img_flex
          img.img_flex_1(src="assets/tea02.jpg", alt="")
          img.img_flex_1(src="assets/tea03.jpg", alt="")
      //- green.................
      section
        .section_divider 
          h2 家+庭
          h4 House and Green
        .section_img
          img(src="assets/green01.jpg", alt="")
          img(src="assets/green02.jpg", alt="")
        .section_text
          h4 一束誘人的天光、一株袖珍盆栽、三兩步大小的坪庭，只要設計巧 妙，都有引人無限遐思的『庭』的意境 。
          p 繁華市區呆久了，人人渴盼到野外踏青。遠古祖先離開遊 牧時代，開始務農定居時，立木成家，種樹成庭。『家』是 溫飽與安全之地，是可開、可閉的房子;『庭』則是植草種 樹，天地自然的象徵。在家觀庭，則是在家養身、養心，感 應天地，隨時再出門。正是我們的對聯『出門打拼，豪情甘 天;入門養息，鬆放靜恬』的具體人生。國內住宅偏重『家』，不知『庭』，庭的處理，往往不是 太過，便是不及。錢不足，庭必然排除;錢很多，則亭台樓 閣、奇花異木，大肆炫耀。其實，『庭』的第一意義乃是，感應天地。天下最可憐 的家，不外監獄牢房，而陰暗的牢房裡，方寸小窗透入的陽 光，正有『庭』的意義，對可憐囚犯也有莫大鼓勵。正常人 的住宅，不論錢多錢少，『庭』的空間當然更好。
          p 侷促的都會的狹小住宅裡，日本人在『庭』的落實上可 謂創意良多，一束誘人的天光、一株袖珍盆栽、三兩步大小 的坪庭，只要設計巧妙，都有引人無限遐思的『庭』的意境 。而晚近法國人Patrick Branc師法熱帶雨林，在全球帶起 都會空間裡的綠牆革命，對陷身侷促空間的現代人，也應有 許多啟示。但住宅裡的『庭』絕不能單獨討論，它必須與『家』共 組，才能完整。而最完美的狀況，這『庭』尤須與生活重心 區相互呼應。很奢華，
          p 山河院的家，處處有『庭』對應。有前、 後院的『庭』，更有窗外山水借景的『庭』。打從入門，庭 景隨身，在家活動，不論靜或動，宛若遊山玩水。而設計上最精妙之處，這些『庭』更是藉勢應用，巧妙順 植物天性，維護上幾乎全交給在地的上帝處理，生態環境的 微妙因應，彰顯主人的天眼。
        .section_text 
          h4.subtitle 如何造景 | 前院
          p 周邊環境已經很綠，前院不再需要大量植物，我們反以木地 板提供乾淨、寬舒的感覺。空間規劃並不提供花草太多土壤，免除長太大的修剪困擾。而所植花草既可賞花、聞香，亦可現摘泡茶，是活生生的樂趣。而這裡是入門的過道，也是室內外的緩衝區，透過水平隔 柵，既通風、迴避窺視，更是清爽美麗的造景，餐廳用餐賞心悅目。
        .section_img_flex
          img.img_flex_1(src="assets/front01.jpg", alt="")
          img.img_flex_1(src="assets/front02.jpg", alt="")
        .section_text 
          h4.subtitle 無蚊蟲花園 | 後院
          p 把潮濕、醜陋的坡坎轉成宜人的綠牆，『紅屋一號』早已 寫下傳奇。『山河院』的綠牆我們決定更精緻化。屋頂仍然是半透光，大半遮雨，只留少許空隙，既可通 風，又容雨水自然澆灌綠牆。蚊網改為不鏽鋼，且容易更 換。地板則與室內銜接，全是乾淨的厚木質感。這裡不但可 以赤腳瀏覽，甚至可以午睡橫躺。綠牆有配置盆洞，盆栽可以自由選、自由排列。只要光 線、水分與季節性得體，上帝將會全權照管，不需人的勞 煩。Patrick Branc或台北花博的綠牆，不考究適性栽種， 全靠人工照顧，也只有錢多的公家付得起，一般住宅跟進時 須要審慎。
        .section_img_flex
          img.img_flex_1(src="assets/back01.jpg", alt="")
          img.img_flex_1(src="assets/back02.jpg", alt="")
        .section_text 
          h4.subtitle 自然與人文的解放 | 瞭望頂樓
          p 頂樓本就有頂級的山水景致，但我們決定附加一些人文 設計的裝扮，好更強化自然美景的張力。原本最基層的功能 考慮只是，加頂棚為了遮日、遮雨，而加水池則兼有安全的 隔離效益(為了視線無阻攔，不設安全欄杆)。隨後不甘簡 陋，歐、日、美的好建築便在腦海裡頻頻出入，誘邀嘗試。 跑了很多的構想，最後更在營造技術的闕如與鄰居的意見表 示下，作了最後的轉折妥協。狂想怎是如此這般?
          p 為了保有最佳的賞景氣勢，我們把理應的雙拼隔間廢除。 天板、地板、水池皆一體排開，中央的柱子也不再存在，於 是視線大開。而天地板的相夾與延伸，正是我們一致的理念。但這裡 我們加了水池面，為了更緊措的銜接天際線，把山景襯得更美。而前緣天板也刻意壓低，讓山景更平、焦聚更清，賞景的人，心更靜。很懷念在京都許多寺廟的緣側地板上赤腳行走的感覺，縱 使不免沾了一些灰塵，但隨地想落座，從不覺得須要囉嗦地撣灰塵。那種親和自在感，這裡也需要。加上這裡極多雨， 我決定選用寬厚的紅檜當地板，全長無接縫。而求一體效果，天、壁也與之相應。。
        .section_img_flex
          img.img_flex_1(src="assets/roof01.jpg", alt="")

      //- hot.................
      section
        .section_divider 
          h2 排濕熱
          h4 Hot Humid Solutions
        .section_img
          //- img(src="assets/hot01.jpg", alt="")
          img(src="assets/hot02.jpg", alt="")
        .section_text
          h4 濕熱不可怕，「悶」才是關鍵大問題。良好的通風既能剋「悶」，也提供了新鮮空氣。
          p 許多國人手上有最簡單的答案，除濕機與冷氣。除了耗電，二者各有許多鮮少人重視的大問題，略如：
          p 一) 噪音:極長時間的承受，帶給精神長期的壓力、疲 憊，乃至傷害。不信，試試突然關機時，頓然舒坦的體驗。
          p 二) 缺氧:為求強效，往往緊閉門窗，室內儘是二氧化 碳。而冷氣因有送風，又且涼爽，常常讓人誤信是清爽空 氣。
          p 其實濕熱並非絕對的可怕，『悶』才是關鍵大問題。悶熱，人不舒服;悶濕，木材容易腐敗。而良好通風既能剋『悶』，而能供應新鮮空氣。有百利，無一害，是我們絕對 的第一考慮。而求通風，我們第一講究自然設計，利用物性原理來產生 對流，既不耗能，更無噪音。木材、石灰土壁、綠牆都會呼 吸，除了調濕，也會帶起微氣流。而建築上，開窗、室內通 透、梯間氣流，更可保證強大的對流。自然設計不足時，如大樹搖枝般的大吊扇才是順位推薦。 再不足，冷氣、除濕機才派上用場。但為了健康，提醒您， 門窗可以關小，切勿關死!『山河院』在自然設計上有最嚴密的細節，各房間並廣設 吊扇。1,3F更配有冷氣，平日未必須要，但客人多，過度鬧 熱時，不免需要。
          h5 一)建築體的斷水設計
          p 困擾住宅的水，來源有五:1.雨水 2.地表水 3.地下水 4.家用水。剋制之道，各有妙方。對付雨水，採用頂蓬與深出簷，來阻斷直接淋入或間接飄 入。而地表水則前後院設置多重排水，避免尤其是暴雨時的 越堤。而基地處的地下水極旺，更以双樓板與双層防水布來 隔離。至於家用水，因把用水區完全擺在住宅的前後兩端， 水管直通外牆，並不穿越室內，迴避可能的任何困擾。
          h5 二)整體住宅的通風設計
          p 整棟住宅的通風嚴依自然動力而設計，再輔以電力風扇補 其不足。通風主軸線，由正面大開窗大量的入，再由梯間風塔及後 牆徐徐的出。其間曲曲折折，游經各各角落與多重木格，不 但帶來涼爽的空氣，也帶走室內的濕氣。而門窗，兼顧採光、採景、防盜、防颱、美觀、經濟又好 管理，綜合了多種設計，無不容許可調整的大量通風。而獨 到的地窗設計，既與室內木作融成一體，更可特別帶走滯留 地面較重的潮濕空氣。
          h5 三)獨到的透氣工法
          p 國人抄襲歐美，以封包方式作出各種喜愛的造型。設計、 施工儘管簡易，但極不利濕熱的排除，發霉腐敗，由內而 出。若加上建材裡裡外外的化學毒，簡直是要命的災難。來自2000 Hanover Expo瑞士館敬仰的建築大師Peter Zumtor的靈感，我們把晾木材轉成施工的元素，既保護木 材，也維護最好的空氣品質。一再創新，反復演練，在各種 寬厚之間，尋找比例配比的美麗答案以及光影幻化的美感。 於是不只有了基本的天板或牆體，更是各式櫃體或家具齊 具，完成的住宅既規律有序，又變幻成趣，乃至身心五官舒 坦，功能與管理更是毫無妥協的滿意。 
        .section_img_flex
          img.img_flex_1(src="assets/hot03.jpg", alt="")
          img.img_flex_1(src="assets/hot04.jpg", alt="")

        .section_text 
          h4.subtitle 小尺寸、大角色 | 梯間
          p 說它小，是指其占有尺寸只150X170cm。營造商一直嚴重質疑 我們的設計，因為國內的住宅樓梯全是粗大笨重、惹人厭的水 泥體。一反常規，透過精要用料、精準扣接的設計，佐以周邊 圍屏與開窗的處理，讓它尺寸小，格局大。上下梯間，一路賞 心悅目，輕鬆愉快。現代建築之父，科比意創出斜坡樓梯，叫 人上樓，沿路賞、慢慢走。但只要有心，更小的空間、更少的 耗材、更低的成本，也可以有同樣的情緒。一樓的梯口，樓上灑下一片天光，木格循循而上，無限延伸 的感覺早已誘人向上。二樓所建，紙門半掩，透著霧光，邀人 無限。三樓更是了得，才上半梯，已被半透的大窗景勾引，待 開紙門，豁然震撼。而四樓兩側的露地天光，早預告了大景無 限，一旦露臉，瞬間目瞪無言。而這些全都由一個小小梯間串 連。而為了維持最佳通透性與最美的起點，一樓梯口也作了最佳 功能的利用，留出一座又大又漂亮的收納間以及一個往衛浴的美麗門廊。
        .section_img_flex
          img.img_flex_1(src="assets/stair01.jpg", alt="")
          img.img_flex_1(src="assets/stair02.jpg", alt="")

      
      //- about-------------------------------
      section
        .section_divider 
          h2 屋主的話
          h4 Messages from The Owner
        .section_text 
          p 挑戰台灣的濕熱氣候，2005年我們推出『紅屋一號』，一 棟改建的外皮洗石，內部清一色木材的住宅。我們只想要證 明，高濕熱氣候下的水泥住宅，木材可以提供極大的幫助。公開展示一年後，我遷入居住。一來熱愛，二來想親自驗 證許多工法的實際結果。越住越喜悅，決定把老家作徹底改 建，再挑戰更高程度的『紅屋一號』。其間設計反覆修改， 歷經三年，終於在2010, 4月開工，2011元月木作完成。施 工中，我還因病入院並長期療養乃至無法正常上班，多虧同 仁上下努力，既定的理想毫不動搖。細節無限龐雜的建築需 要的畢竟是團隊，而不只是個人的努力。又另一肯定。
          p 新住宅仍沿舊基地，屬雙拼，公開之前我們為她取個好 名字，『山河院』。字義上有山、有河、也有院，與現場完 全符合，正是現代都會人最羡慕的所謂別墅;而諧音上它近 『三合院』，有遙想古傳統智慧，期盼國人的住宅有自己的 風格，而不再只是抄襲歐美的型式。
          p 早年唐山過海，台灣平原起了許多閩式三合院，是否合 乎本土環境?未明。但鄉愁的影子則是百分百的確定。如今 三合院早因不合潮流全面消失，鄉愁想留，卻無論如何也留不住。至於真正的理想住宅何在?更遠的古人在組造『家』 『庭』兩字時，便已立下千古的典範(趙廣超的「不只中國 木建築」一書有極精彩的論述)，然而後代中國沒落，典範 早已模糊，而較具體的落實，反流落日本，乃至日本老住宅 成了西方人學習東方智慧的景仰目標。
          p 如何回朔傳統智慧?如何再造現代生活?我們努力找答 案!而因此乃在極龐雜的各種考量裡折衝、衡量，剝絲抽 繭，逐一理條理。想打造的住宅，除了親和人，也必須親和 環境;除了身體恬適，心靈更要寬舒...，甚至，既要美得檔 次高，更要經濟、實惠、維護人力少...。許多許多的期待。而『為學日益，為道日損』，住宅設計裡，為學呈精彩， 為道變簡約。在建材上，我們熱愛天然素材，它可以千萬變 化、無往不利;而設計上，我們唾棄裝飾，追求結構美感。 也因此，起頭構想很多，末端施作俐落;初看一切簡約，長 住精彩無限。而所有的精彩只要順著材料物性，老天幫您看 管，人則安享閒情。比如一道木牆，除了功能(譬如隔間)，還有木材的天生 漂亮、香氣、觸感...，還有人為設計的線條、比例、凹凸立體...，還有折射或穿越的光影變化、涼風爽身...，更還能調 濕、消音、安定心靈...。住宅設計，一旦物物相契，將如好 樂團，可以奏出無限多的美麗樂音。
          p 各30坪的雙基地，我們規劃了3層樓，另加前、後院，以 及借助環境的觀景頂樓。論坪數，只是普通俗宅;但臨場檢 視實質，則遠遠逾越億萬豪宅。地可小，錢可少，但只要人 的氣質不蕭條，可以安身立命的好宅，終可指日期待。出門打拼，豪情干天;入門養息，鬆放靜恬，是經營住宅內裝，8年前我們刻意以新書法寫下的針砭。『山河 院』既整合了我們許多的理想，拋磚引玉，決定公開。除了 藉出版，以圖文供有心人研讀外，更將開放參觀，鼓勵親身 體驗。同時也將陸續推出各種生活提案的講習，比如現代料 理、晏客或茶席。我們認為家庭生活，既要有安靜的慰藉， 也要有熱鬧的喜悅...。我們樂於尋找、挑戰更豐富的生活感 動，更樂於與有心人切磋、分享。
          p 而『山河院』亮相之際，恭迎國內房地產暴漲的『狂 喜』，街頭巷尾，儀態標緻的仲介廣告，招遙逗引，千萬、 億萬的叫賣，此起彼落，宛若紅燈區的熱鬧。僅供安身立命的住宅，竟成千上萬街頭叫賣，是財富的諷刺?或至少說明 了，國人的家庭生活顯然陷在金銀土石流裡，忐忑難安!排開萬端紛擾，我們另開一片窗，恭迎有心人，捧心來看!期待!

    footer
      .footer_divider
        div
      .footer_box
        a(href='#header_top')
          h5.footer_top ↑ top
        p.footer_copyright
          | Copyright © famwood | All right reserved