*, body {
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  font-weight: 100;
  background-color: #fff;
  color: #333;
  border-color: #333;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.6;
}

h1, h2, h3, h4, h5, h6, p {
  padding-right: 45px;
}
@media only screen and (max-width: 767px) {
  h1, h2, h3, h4, h5, h6, p {
    padding-right: 15px;
  }
}

h1 {
  font-size: 75px;
  font-weight: 300;
}

h2 {
  font-size: 60px;
  font-weight: 200;
}
@media only screen and (max-width: 1300px) {
  h2 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 42px;
}
@media only screen and (max-width: 1300px) {
  h3 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 28px;
}
@media only screen and (max-width: 1300px) {
  h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 1300px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-size: 14px;
  font-weight: 300;
}
@media only screen and (max-width: 1300px) {
  h6 {
    font-size: 12px;
  }
}

p {
  font-size: 14px;
}
@media only screen and (max-width: 1300px) {
  p {
    font-size: 12px;
  }
}

li {
  display: list-item;
  list-style-position: inside;
  font-size: 14px;
}
@media only screen and (max-width: 1300px) {
  li {
    font-size: 12px;
  }
}

.img_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 45px;
}
@media only screen and (max-width: 767px) {
  .grid {
    padding-right: 15px;
  }
}
.grid .img_bg {
  width: 100%;
  padding-top: 100%;
  background-color: #aaa;
}

header {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#jumbotron {
  width: 100%;
  padding-top: 60%;
  background-image: url("assets/hero_l.png");
}
@media only screen and (max-width: 1300px) {
  #jumbotron {
    background-image: url("assets/hero_m.png");
  }
}
@media only screen and (max-width: 767px) {
  #jumbotron {
    background-image: url("assets/hero_s.png");
    padding-top: 130%;
  }
}

#jumbo_text {
  margin-bottom: 80px;
}
#jumbo_text h3 {
  margin: 150px 0px 50px 0px;
}
#jumbo_text p {
  margin: 30px 0px 10px 0px;
}
@media only screen and (max-width: 1300px) {
  #jumbo_text {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  #jumbo_text {
    margin-bottom: 30px;
  }
}

main {
  width: 100%;
  overflow: hidden;
}

section {
  padding-bottom: 120px;
  padding-left: 25%;
}
@media only screen and (max-width: 1300px) {
  section {
    padding-left: 45px;
  }
}
@media only screen and (max-width: 767px) {
  section {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 1300px) {
  section {
    padding-bottom: 90px;
  }
}
@media only screen and (max-width: 767px) {
  section {
    padding-bottom: 60px;
  }
}

.section_divider {
  margin-bottom: 50px;
}
.section_divider h2 {
  border-bottom: solid 1px;
  vertical-align: bottom;
  margin-bottom: 10px;
}

.section_img {
  margin-bottom: 100px;
}
.section_img img {
  width: 100%;
}

.section_img_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding-right: 45px;
}
@media only screen and (max-width: 767px) {
  .section_img_flex {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 1300px) {
  .section_img_flex {
    margin-bottom: 7px;
    gap: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .section_img_flex {
    margin-bottom: 5px;
    gap: 3px;
  }
}

.img_flex_1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section_text {
  margin: 30px 0px;
}
.section_text h5 {
  margin-top: 30px;
}
.section_text p {
  margin-top: 30px;
}
.section_text ol {
  margin: 15px 0px 30px 0px;
}
.section_text ol li {
  padding-bottom: 5px;
}

.subtitle {
  margin-top: 100px;
}

footer {
  width: 100%;
}

.footer_divider {
  margin-bottom: 70px;
  padding-left: 25%;
}
@media only screen and (max-width: 1300px) {
  .footer_divider {
    padding-left: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_divider {
    padding-left: 15px;
  }
}
.footer_divider div {
  width: 100%;
  border-bottom: 1px solid;
}

.footer_box {
  width: 500px;
  margin: auto;
}

.footer_top {
  text-align: center;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer_copyright {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

#about h3 {
  font-weight: 400;
}

.about_row {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_title {
  width: 45%;
}

.about_list {
  width: 55%;
}

.about_item {
  margin-bottom: 30px;
}
.about_item h5 {
  margin-bottom: 5px;
}
.about_item h6 {
  font-style: italic;
}